{%extends 'layouts/base.html'%}

{%block content%}

<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis dolor excepturi saepe? Iusto perferendis quaerat, possimus officiis cumque sit eum quasi nesciunt quisquam, saepe nobis molestiae veniam. Ex labore suscipit aspernatur? Et laudantium iure nam saepe voluptate voluptates dolore facere pariatur impedit facilis. Corrupti at assumenda sint ab culpa! Fugiat magni dicta a, distinctio numquam sunt eaque sit modi quia esse placeat ipsa impedit voluptates incidunt ipsam debitis blanditiis autem ex repudiandae porro dolores magnam ratione cupiditate ducimus? Aperiam, eos consequuntur! Eum libero dolor, aperiam voluptatibus inventore quos. Magnam odit nesciunt, reiciendis provident dolorum blanditiis laboriosam a tempore delectus esse.</p>

<p>Website created by {{username}}</p>

{%endblock%}